In [41]:
import pandas as pd
import glob

In [42]:
all_dfs = []

In [43]:
for file in glob.glob("Temperatures/*.csv"):   
    print("Reading:", file)                   
    new_df = pd.read_csv(file)
    all_dfs.append(new_df)

Reading: Temperatures\stations_group_1986.csv
Reading: Temperatures\stations_group_1987.csv
Reading: Temperatures\stations_group_1988.csv
Reading: Temperatures\stations_group_1989.csv
Reading: Temperatures\stations_group_1990.csv
Reading: Temperatures\stations_group_1991.csv
Reading: Temperatures\stations_group_1992.csv
Reading: Temperatures\stations_group_1993.csv
Reading: Temperatures\stations_group_1994.csv
Reading: Temperatures\stations_group_1995.csv
Reading: Temperatures\stations_group_1996.csv
Reading: Temperatures\stations_group_1997.csv
Reading: Temperatures\stations_group_1998.csv
Reading: Temperatures\stations_group_1999.csv
Reading: Temperatures\stations_group_2000.csv
Reading: Temperatures\stations_group_2001.csv
Reading: Temperatures\stations_group_2002.csv
Reading: Temperatures\stations_group_2003.csv
Reading: Temperatures\stations_group_2004.csv
Reading: Temperatures\stations_group_2005.csv

In [44]:
dataset = pd.concat(all_dfs, ignore_index=True) 
dataset.head(3)

,STATION_NAME,STN_ID,LAT,LON,January,February,March,April,May,June,July,August,September,October,November,December
0,ADELAIDE-KENT-TOWN,23090,-34.92,138.62,31.48,31.37,28.12,24.81,21.28,17.92,17.20,17.87,20.54,22.98,26.65,28.38
1,ALBANY-AIRPORT-COMPARISON,9741,-34.94,117.80,25.24,26.03,25.45,23.50,20.55,18.00,16.95,17.02,18.34,19.52,21.85,23.75
2,ALICE-SPRINGS-AIRPORT,15590,-23.80,133.89,38.40,37.32,35.35,31.37,25.18,21.06,20.52,23.71,29.07,31.41,34.38,36.06

In [45]:
range_dataset = dataset.copy()           # creating copy of original dataset to store range value
std_dataset = dataset.copy()             # creating copy of original dataset to store standard deviation value

In [46]:
# Seasonal Average

<!-- seasonal average -->

In [47]:
Summer = dataset[['December', 'January', 'February']].mean().mean()
print('Summer:',round(Summer,1),'°C')

Summer: 32.1 °C

In [48]:
Autumn = dataset[['March', 'April', 'May']].mean().mean()
print('Autumn:',round(Autumn,1),'°C')

Autumn: 27.3 °C

In [49]:
Winter = dataset[['June', 'July', 'August']].mean().mean()
print('Winter:',round(Winter,1),'°C')

Winter: 21.1 °C

In [50]:
Spring = dataset[['September', 'October', 'November']].mean().mean()
print('Spring:',round(Spring,1),'°C')

Spring: 27.4 °C

In [51]:
average_temp = (
    f"Summer: {round(Summer,1)}°C  "
    f"Autumn: {round(Autumn,1)}°C  "
    f"Winter: {round(Winter,1)}°C  "
    f"Spring: {round(Spring,1)}°C"
)

In [52]:
with open('average_temp.txt', 'w') as f:
    f.write(average_temp)

In [53]:
# Temperature Range

In [54]:
range_dataset.iloc[:, 4:].head(3)  # select all the row but only the columns starting from the indexing 4 onwards

,January,February,March,April,May,June,July,August,September,October,November,December
0,31.48,31.37,28.12,24.81,21.28,17.92,17.20,17.87,20.54,22.98,26.65,28.38
1,25.24,26.03,25.45,23.50,20.55,18.00,16.95,17.02,18.34,19.52,21.85,23.75
2,38.40,37.32,35.35,31.37,25.18,21.06,20.52,23.71,29.07,31.41,34.38,36.06

In [55]:
max_value = range_dataset.iloc[:, 4:].max(axis=1)    # when axis = 1, finds the max value row wise
min_value = range_dataset.iloc[:, 4:].min(axis=1)
range = max_value - min_value
range_dataset['Range'] = range   # add Range columns in range_dataset

In [56]:
range_dataset[range_dataset['Range']== range_dataset['Range'].max()]   # finds the max range value from Range column

,STATION_NAME,STN_ID,LAT,LON,January,February,March,April,May,June,July,August,September,October,November,December,Range
1669,WAGGA-WAGGA-AMO,72150,-35.16,147.46,36.55,35.31,32.61,27.15,21.43,16.45,15.48,17.61,21.66,26.02,30.36,34.66,21.07

In [57]:
months = range_dataset.iloc[:, 4:-1].columns
months

Index(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype='object')

In [58]:
station_name = range_dataset.iloc[661]['STATION_NAME']   # acccess the 'STATION_NAME' from 661 row
range_value = range_dataset.iloc[661]['Range']
max_temp = range_dataset.iloc[661][months].max()
min_temp = range_dataset.iloc[661][months].min()

In [59]:
largest_temp_range_station = f"Station {station_name}: Range {round(range_value,1)}°C (Max: {round(max_temp,1)}°C, Min: {round(min_temp,1)}°C)"   # rounds returns the value upto 1 decimal point
print(largest_temp_range_station)

Station WAGGA-WAGGA-AMO: Range 19.7°C (Max: 33.5°C, Min: 13.8°C)

In [60]:
with open('largest_temp_range_station.txt', 'w') as f:    # open / create a text file in write mode
    f.write(largest_temp_range_station)   # writes the string in 'largest_temp_range_station' into the file

In [61]:
#Temperature Stability

In [62]:
std_dataset['Standard_Deviation'] = std_dataset.iloc[:, 4:].std(axis=1) 
std_dataset

,STATION_NAME,STN_ID,LAT,LON,January,February,March,April,May,June,July,August,September,October,November,December,Standard_Deviation
0,ADELAIDE-KENT-TOWN,23090,-34.92,138.62,31.48,31.37,28.12,24.81,21.28,17.92,17.20,17.87,20.54,22.98,26.65,28.38,5.180983
1,ALBANY-AIRPORT-COMPARISON,9741,-34.94,117.80,25.24,26.03,25.45,23.50,20.55,18.00,16.95,17.02,18.34,19.52,21.85,23.75,3.395952
2,ALICE-SPRINGS-AIRPORT,15590,-23.80,133.89,38.40,37.32,35.35,31.37,25.18,21.06,20.52,23.71,29.07,31.41,34.38,36.06,6.358751
3,AMBERLEY-AMO,40004,-27.63,152.71,32.90,31.87,31.21,29.20,26.06,23.38,22.88,24.12,27.58,29.50,31.04,32.28,3.619068
4,BARCALDINE-POST-OFFICE,36007,-23.55,145.29,38.03,36.21,35.41,31.73,27.46,25.21,24.64,26.46,30.75,34.13,35.93,37.41,4.937263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,WILSONS-PROMONTORY-LIGHTHOUSE,85096,-39.13,146.42,21.46,22.04,20.46,18.73,16.59,14.71,14.07,14.09,15.83,17.11,18.47,19.47,2.789112
2236,WITTENOOM,5026,-22.24,118.34,41.17,40.09,38.65,35.08,29.76,26.29,26.09,28.01,33.16,37.77,40.02,41.35,5.915396
2237,WOOMERA-AERODROME,16001,-31.16,136.81,36.89,36.37,31.52,26.86,22.28,18.96,18.50,20.22,24.15,27.54,31.84,33.69,6.645964
2238,WYALONG-POST-OFFICE,73054,-33.93,147.24,36.48,34.21,30.86,26.73,21.29,16.89,15.90,17.60,21.92,26.20,30.91,33.34,7.222403
2239,YAMBA-PILOT-STATION,58012,-29.43,153.36,28.13,28.67,27.67,25.57,23.46,21.54,21.06,21.95,24.25,25.63,25.88,27.14,2.630712

In [63]:
std_dataset[std_dataset['Standard_Deviation'] == std_dataset['Standard_Deviation'].max()]

,STATION_NAME,STN_ID,LAT,LON,January,February,March,April,May,June,July,August,September,October,November,December,Standard_Deviation
1669,WAGGA-WAGGA-AMO,72150,-35.16,147.46,36.55,35.31,32.61,27.15,21.43,16.45,15.48,17.61,21.66,26.02,30.36,34.66,7.675713

In [64]:
vstation_name = std_dataset.iloc[661]['STATION_NAME']
vstd = std_dataset.iloc[661]['Standard_Deviation']
most_variable = f"Most Variable: {vstation_name}: StdDev {round(vstd,1)}°C"
print(most_variable)

Most Variable: WAGGA-WAGGA-AMO: StdDev 7.3°C

In [65]:
std_dataset[std_dataset['Standard_Deviation'] == std_dataset['Standard_Deviation'].min()]

,STATION_NAME,STN_ID,LAT,LON,January,February,March,April,May,June,July,August,September,October,November,December,Standard_Deviation
592,DARWIN-AIRPORT,14015,-12.42,130.89,34.33,34.09,34.42,35.67,35.46,34.27,34.33,34.79,35.57,36.03,35.91,35.19,0.710282

In [66]:
sstation_name = std_dataset.iloc[2160]['STATION_NAME']
sstd = std_dataset.iloc[2160]['Standard_Deviation']
most_stable = f"Most Stable: {sstation_name}: StdDev {round(sstd,1)}°C"
print(most_stable)

Most Stable: DARWIN-AIRPORT: StdDev 1.0°C

In [67]:
with open('temperature_stability_stations.txt', 'w') as f:     
    f.write(f"{most_stable}\n{most_variable}")